09일차/env1.py
09일차/env2.py
09일차/env3.py
11일차/6.Pandas.py
11일차/7.Matplotlib.py
11일차/matplotlib (1).py
21일차/dogs-vs-cats
21일차/dogs-vs-cats.zip
21일차/cats_and_dogs_small_1.0.h5
24일차/env1.py
24일차/env2.py
24일차/1.jfif
24일차/out-1.jfif
25일차/env1.py
25일차/env2.py
25일차/IoTenv.cs
35일차/house_prices.csv
40일차/purchase.csv
44일차/*.csv
datasets
__pycache__
data